<h1>Test Component for Student Details</h1>

<sly data-sly-test="${resource.listChildren}">
    <sly data-sly-use.model ="com.demo.core.models.Q4Model"/>
    <sly data-sly-list.multi="${resource.listChildren}">
        <sly data-sly-test="${multi.listChildren}">
            <sly data-sly-list.child="${multi.listChildren}">
                <h3>${child.SName}</h3>
            </sly>
        </sly>
    </sly>
</sly>
</sly>

<sly data-sly-test="${!resource.listChildren}">
    <div><h3>Nothing to share!</h3></div>
</sly>

<a href="/bin/Compare"><button name="Compare">Compare</button></a>